<div class="wrapper flex flex-row justify-content-between w-full h-full bg-white p-3 gap-3">
  <div class="basic-info flex flex-column justify-content-between w-3 h-full gap-3">
    <div class="flex flex-column align-items-center justify-content-center w-full bg-white border-round-sm border-dashed border-primary-500 surface-overlay p-5" style="height: 40%;">
        <!-- @if () {} -->
        <i class="pi pi-user cursor-pointer" style="font-size: 5rem"></i>
        <b>Đạt - ROOT</b>
    </div>
    <div class="w-full bg-white border-round-sm border-dashed border-primary-500 surface-overlay p-5" style="height: 60%;"></div>
  </div>

  <div class="detail-info w-9 h-full bg-white border-round-sm border-dashed border-primary-500 surface-overlay p-5">
    
  </div>
</div>
