<div class="wrapper w-full h-full bg-white border-round-sm border-dashed border-primary-500 surface-overlay p-5">
    <div class="title-btn-filter flex w-full align-items-center justify-content-between">
      <h1>WORK FLOW</h1>
      <!-- <p-sidebar [(visible)]="sidebarVisible" position="right">
        <p>Month</p>
      </p-sidebar>
      <p-button type="button" class="mr-2" (click)="sidebarVisible = true" icon="pi pi-filter"></p-button> -->
    </div>
    <!-- <p-breadcrumb class="max-w-full bg-white" [model]="items" [home]="home"></p-breadcrumb> -->
  </div>
